@using PIM.Data

@inject StateContainer _stateContainer;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid text-white">
            @if(_stateContainer.Catalog != null)
            {
                <div>
                Selected Catalog: @_stateContainer.Catalog.Name
                </div>
            }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
                <Authorized>              
                    <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/auth/Logout" Match="NavLinkMatch.All">
                      <span class="oi oi-account-logout" aria-hidden="true"></span> Logout (@(_stateContainer.User is null ? "":_stateContainer.User.Username))
                    </NavLink>
                    </div>                       
                </Authorized>
                <NotAuthorized>     
                    <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/auth/Login" Match="NavLinkMatch.All">
                      <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                    </div>  
                    <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/auth/Register" Match="NavLinkMatch.All">
                      <span class="oi oi-person aria-hidden="true"></span> Register
                    </NavLink>
                    </div>  
                </NotAuthorized>
            </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Catalog/List">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Catalogs
                </NavLink>
            </div>
            @if (_stateContainer.Catalog is not null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Products/List">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Products
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Categories">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Attributes">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Attributes
                    </NavLink>
                </div>
            
            }
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        _stateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _stateContainer.OnChange -= StateHasChanged;
    }
}
