@page "/Products/List"

@using PIM.Data
@using PIM.Data.Services
@using PimModels.Models

@inject NavigationManager _navManager
@inject StateContainer _stateContainer
@inject ProductService _productService

<h3>ProductsPage</h3>

<a href="/Product/Create">ADD NEW Product</a>

@if(products == null) { <text> WAIT </text> }
else
{
    @if (products.Count == 0) { _navManager.NavigateTo("/Product/Create"); }
    else
    {
        @foreach (var product in products)
        {
            <div style="border: solid 2px black; display:flex;">
                <div>
                    Product Name: @product.Name <br>
                </div>
                <div>
                    @*<img src="@($"data:{product.ProductImages[0].ContentType};base64,{await _productService.GetMainImage()}")"/>*@
                </div>
            </div>
        }
    }
}

@code {
    private List<Product>? products = null;

    protected override async Task OnInitializedAsync()
    {
        products = await _productService.GetAll(_stateContainer.Catalog.Id);
    }
}
