.container {
    color: white;
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 45px;
}

.buttonNewHolder {
    position: relative;
    height: 50px;
}

.buttonNew {
    position: relative;
    right: 5%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    height: 1.5em;
    background-color: green;
    float: right;
    padding: 0 5%;
    border-radius: 100px;
    font-weight: 500;
    width: 17%;
    min-width: 200px;
    transition: color ease-in-out 0.2s;
}

    .buttonNew:hover {
        color: black;
    }

    .buttonNew > span {
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .buttonNew > p {
        position: absolute;
        right: 15%;
        line-break: auto;
    }

.catalogsHolder {
    font-family: 'Arial Rounded MT';
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3%;
    overflow: auto;
    height: auto;
    max-width: 90%;
    max-height: 700px;
}

.catalogHolder {
    width: 40%;
    margin: 5px 0px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    border: 2px solid white;
    border-radius: 0.5em;
    min-width: 400px;
}

    .catalogHolder > .leftCol {
        display: flex;
        flex-direction: column;
        width: auto;
        padding-left: 10px;
        justify-content: space-around;
    }

    .catalogHolder > .rightCol {
        position: relative;
        justify-content: space-between;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: auto;
        flex-grow: 2;
        padding-right: 1em;
    }

.rightCol > a {
    text-decoration: none;
    color: white;
    margin: 2px 0;
    width: 100px;
    text-align: center;
    left: 20px;
    border: 2px solid white;
    border-radius: 50px;
}

a.a-delete {
    border-color: red;
}

    a.a-delete:hover {
        background-color: red;
        color: black;
        transition: all ease 0.3s;
    }

a.a-select, a.a-manage {
    transition: all ease 0.3s;
    transition: content 0s;
}
a.a-select:hover, a.a-manage:hover {
    background-color: white;
    color: black;
    /*animation: colorchange 1s ease;*/
}

@keyframes colorchange{
    from {
        background-color:transparent;
    }
    to{
        background-color: white;
    }
}

a.a-selected {
    border-color: lightgreen;
    color:black;
    background-color: lightgreen;
}
